@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Custom styles for the application */
body {
    font-family: 'Poppins', sans-serif;
}

/* Loading Spinner */
.loading {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.loading.active {
    display: flex; /* Show when active */
}

/* Error Message */
.error {
    color: #f56565; /* Tailwind's red-500 */
}

/* Loading Spinner Animation */
.loading-spinner {
    border: 4px solid #4a5568; /* Tailwind's gray-600 */
    border-top-color: transparent; /* Transparent top for spinner effect */
    border-radius: 50%;
    width: 32px; /* Adjust size as needed */
    height: 32px; /* Adjust size as needed */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Image Container */
.image-container {
    position: relative; /* Use relative positioning if you need to position child elements absolutely within this container */
}

/* GitHub Button */
/* GitHub Button */
.github-button {
    position: absolute; /* Use absolute positioning to place it relative to the nearest positioned ancestor */
    bottom: 1rem; /* Distance from the bottom of the container */
    left: 55%;
    transform: translateX(-50%); /* Center the button horizontally */
}
